.content1{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
.offer-content{
    position: absolute;
   top: 150px;
    right: 17%;
}
.offer-img{
    position: relative;
}
.btn{
    border: none;
    height: 12px; 
    width: 112px; 
    text-align: center; 
    padding: 16px;
    background-color: blue;
    color: white;
}
.btn:hover{
background-color: rgb(201, 43, 96);
}
