.header {
  display: flex;
  position: sticky;
  justify-content: space-around;
  border: 2px solid black;
  margin: 0px;
}
.nav-bar ul {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.nav-bar ul li {
  display: inline-block;
}
nav-bar ul li:hover {
  color: brown;
}
.view-btn {
  border: 2px solid grey;
  height: 20px;
  width: 50px;
  background-color: blue;
  color: white;
  padding: 5px;
  text-align: center;
}
.main-banner {
  display: flex;
}
.icon {
  display: flex;
  gap: 15px;
}
