.footer-area{
    display: flex;
    background-color: rgb(22 15 15 / 87%);
    position: relative;
    margin-top: 129px;
    padding: 85px 0 80px;
    justify-content: center;
    width: 100%;
}
.footer-part1{
    display: flex;
    gap: 20px;
}
.footer-img{
    padding-top: 23px;
}
.footer-list {
    display: flex;
    gap: 20px;
    color: azure;
    padding: 10px;
    margin-left: 14px;
}
.footer-list2 {

    color: azure;
    margin-left: 21px;
}

.footer-list3 {
    
    color: azure;
    margin-left: 15px;
}
.subcribe-container{
    display: grid;
}
.subcribe{
    display: flex;
}
.last-row{
    display: flex;
}
.footer-icon{
    display: flex;
    gap: 10px;
}
.last-row2{
    display: flex;
    justify-content: center;
}