.footer-area{
   
    background-color: rgb(22 15 15 / 87%);
    position: relative;
    margin-top: 129px;
    padding: 85px 0 80px;
    justify-content: center;
    width: 100%;
}
.footer-part1 {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer-img{
    padding-top: 23px;
}
.footer-list {
    display: flex;
    gap: 20px;
    color: azure;
    padding: 10px;
    margin-left: 14px;
}
.footer-list2 {
    color: azure;
    margin-left: 64px;
   
}

.footer-list3 {
    color: azure;
    margin-left: 120px;
}
.subcribe-container{
    display: grid;
}
.subcribe{
    display: flex;
}
.last-row {
    display: flex;
    margin-left: 582px;
}


.footer-icon {
    display: flex;
    gap: 25px;
    margin-left: 178px;
}


.last-row2 {
    display: flex;
    justify-content: center;
    margin-left: "-80px";
    padding: 42px;
   
}