.banner-main{
    display: flex;
}
.banner-text {
    position: absolute;
    left: 63%;
    top: 15%;
    padding: 3%;
}
.banner-img{
    width: 50%;
}
.bannre-btn {
    border: none;
    height: 38px;
    width: 130px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    margin-top: 31px;
    padding-top: 13px;
}