.imgBlock-Main{
    display: flex;
    gap: 8px;
    justify-content: space-around;
}

p {
    position: relative;
    bottom: 75px;
    left: 19px;
    
}
h3{
    position: relative;
    bottom: 75px;
    left: 19px;
}
.img1{
    transition: 0.3s;
}
.img:hover {
    transform: scale(1.5);
}

