.card1 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
  background-color: white;
}
.card2 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
   background-color: white;
}
.card3 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
   background-color: white;
}
.mainProduct {
  display: flex;
  padding-left: 25%;
  gap: 20px;
  padding-top: 50px;
}
.text{
text-align: center;
color: rgb(94, 23, 157);

}
.para{
  text-align: center;
}

.productMainBlock{
  background-color: rgba(220, 211, 211, 0.881);
  height: 100%;
  width: 100%;
  padding-bottom: 90px;
}
.productHeading{
  text-align: center;

}