/* menubar */
.header {
    display: flex;
    position: sticky;
    justify-content: space-around;
  
    margin: 0px;
  }
  .nav-bar ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .nav-bar ul li {
    display: inline-block;
  }
  .nav-bar ul li:hover {
    color: brown;
  }
  .view-btn {
    border: 2px solid grey;
    height: 20px;
    width: 50px;
    background-color: blue;
    color: white;
    padding: 5px;
    text-align: center;
  }
  .main-banner{
    position: relative;
  }
  .main-content{
    position: absolute ;
    top: 30px;
  }
/* 1st division */
.mainbanner{
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-content {
  position: absolute;
  top: 184px;
  left: 461px;
  padding: 9px;
}
.view-btn{
  border: none;
  display: inline-block;
  height: 22px;
  width: 186px;
  background-color: blue;
  color: white;
  padding: 24px;
  text-align: center;
  font-size: 25px;
}
/* second division */
.dress-content{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.col1{
    position: relative;
}
.Clothing-heading{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    color: black;
    font-weight: bold;
    font-size: 28px;
}
.Clothing-heading:hover{
    color: blue;
}
.img-cls{
    opacity: 0.5;
}
/* third division */
.content1{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-top: 65px;
}
.offer-content{
    position: absolute;
   top: 150px;
    right: 17%;
}
.offer-img{
    position: relative;
}
.view-btn {
    border: none;
    height: 13px;
    width: 140px;
    text-align: center;
    padding: 26px;
    background-color: blue;
    color: white;
    font-size: 18px;
}
.view-btn :hover{
background-color: rgb(201, 43, 96);
}
/* brand division */
.brand-block{
    position: relative;
    z-index: 1;
    background-color: #f5f7f9;
    padding: 100px 5%;
    margin-top: 65px;
}
.brand{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;

}
/* collection division */
.popular-img
{
    display: flex;
    position: relative;
    gap: 5px;
    justify-content: space-around;
    margin-top: 65px;
}
.brand-name{
    position: absolute;
    left: 122px;
    bottom: -111px;
    font-size: 16px;
}
    
.brand-name1{
    position: absolute;
    bottom: -107px;
    left: 582px;
    font-size: 15px;
}


.brand-name2{
    position: absolute;
    bottom: -85px;
    top: 343px;
    left: 1074px;
    font-size: 16px;
    line-height: 20px;

}
.brand-name3{
    line-height: 17.5px;
    position: absolute;
    right: 100px;
    bottom: -106px;
    left: 1573px;
    font-size: 15px;
}
/* footer division */
.footer-area{
    display: flex;
    background-color: rgb(22 15 15 / 87%);
    position: relative;
    margin-top: 129px;
    padding: 85px 0 80px;
    justify-content: center;
    width: 100%;
}
.footer-part1{
    display: flex;
}
.footer-img{
    padding-top: 23px;
}
.footer-list {
    display: flex;
    gap: 20px;
    color: azure;
    padding: 10px;
    margin-left: 14px;
}
.footer-list2 {

    color: azure;
    margin-left: 21px;
}

.footer-list3 {
    
    color: azure;
    margin-left: 15px;
}

.subcribe-container
{
    display: flex;
}

.last-row2{
    display: flex;
    justify-content: center;
}
.popular-products-main{
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* section */
.second-main-container{
        width: 85%;
            border: 1px solid red;
            margin: auto;
}

.img-class{
    background-image: url('https: //preview.colorlib.com/theme/essence/img/bg-img/bg-1.jpg');
}